@import "header";
@import "head";
@import "inversiones";
@import "prestamos";

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}



h3, h4 {
    font-weight: bold;
}

footer {
    background-color: #212227;
    height: 3em;
    display: flex;
    align-items:center;
    padding-left: 5px;
        .linkFooter {
            text-decoration: none;
            color: white;
        }
}
.mensaje, .mensajeDatos {
    display: none;
    padding-left: 5px;
    color: red;
    text-align: center;
}
.btnPrestamos, .btnDatos, .emprendedorInfo button  {
    border: none;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 5em;
    margin-top: 1em;
    border-radius: 5px;
    background-color: #212227 !important;
    color: white;
}
.btnPrestamos:hover, .btnDatos:hover, .btnSimula:hover,  .emprendedorInfo button:hover {
    background-color: #333646 !important;
}





