header .bg-light {
  background-color: #212227 !important; }

header .navbar-light .navbar-brand, header .navbar-light .navbar-nav .nav-link.active, header .navbar-light .navbar-nav .nav-link {
  color: white; }

header .navbar-light .navbar-brand:hover, header .navbar-light .navbar-nav .nav-link.active, header .navbar-light .navbar-nav .nav-link:hover {
  color: #333646; }

header .container-fluid {
  display: flex;
  justify-content: space-between; }

header .navbar-brand {
  width: 50%; }
  header .navbar-brand .logo {
    width: 100%; }

header .navbar-collapse {
  justify-content: flex-end; }

@media only screen and (min-width: 769px) {
  header .navbar-brand {
    width: 40%; }
    header .navbar-brand .logo {
      width: 70%; } }

@media only screen and (min-width: 1624px) {
  header .navbar-brand {
    width: 30%; }
    header .navbar-brand .logo {
      width: 50%; } }

.carrusel {
  height: 50vh; }
  .carrusel .w-100 {
    height: 25vh; }
  .carrusel .carousel-control-next, .carrusel .carousel-control-prev {
    bottom: 10em; }
  .carrusel .carrusel-info {
    text-align: center;
    padding-top: 1em; }
    .carrusel .carrusel-info h3 {
      height: 10vh; }
    .carrusel .carrusel-info .btnSimula {
      border: none;
      background-color: #212227;
      border-radius: 10px;
      width: 10em;
      color: white; }

.banner .divBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8D9D90;
  height: 4em;
  margin: 2em 0; }
  .banner .divBanner p {
    text-align: center;
    padding-top: 5%; }

.emprendedor {
  margin-bottom: 1em; }
  .emprendedor .emprendedorArticle {
    width: 90%;
    margin: 0 auto; }
    .emprendedor .emprendedorArticle img {
      width: 100%;
      margin-bottom: 1em;
      border-radius: 10px; }
    .emprendedor .emprendedorArticle:hover img {
      box-shadow: 1px 1px 8px 4px rgba(0, 0, 0, 0.68);
      -webkit-box-shadow: 1px 1px 8px 4px rgba(0, 0, 0, 0.68);
      -moz-box-shadow: 1px 1px 8px 4px rgba(0, 0, 0, 0.68); }
    .emprendedor .emprendedorArticle h4, .emprendedor .emprendedorArticle p {
      text-align: center; }
    .emprendedor .emprendedorArticle .btnConoceMas {
      width: 60%;
      margin-left: 20%;
      border: none;
      background-color: #212227;
      height: 3em;
      border-radius: 5px;
      color: white; }

.demoPlazoFijo {
  margin-bottom: 1em; }
  .demoPlazoFijo .demoPlazoFijo_banner img {
    width: 100%; }

@media only screen and (min-width: 481px) {
  .carrusel {
    height: 60vh; }
    .carrusel .w-100 {
      height: 30vh; }
    .carrusel .carrusel-info h3 {
      height: 12vh; }
    .carrusel .carrusel-info p {
      height: 8vh; }
    .carrusel .carousel-control-prev, .carrusel .carousel-control-next {
      bottom: 13rem; } }

@media only screen and (min-width: 769px) {
  .carrusel {
    height: 75vh; }
    .carrusel .w-100 {
      height: 25em; }
    .carrusel .carrusel-info h3 {
      height: 5vh; }
    .carrusel .carrusel-info p {
      height: 5vh; }
    .carrusel .carousel-control-prev, .carrusel .carousel-control-next {
      bottom: 13rem; }
  .banner .divBanner {
    width: 100%; }
    .banner .divBanner p {
      text-align: center;
      margin: 0 auto;
      padding: 0; }
  .emprendedor {
    display: flex;
    flex-wrap: wrap; }
    .emprendedor .emprendedorArticle {
      width: 40%; }
      .emprendedor .emprendedorArticle img {
        width: 100%;
        height: 40vh;
        object-fit: cover; } }

@media only screen and (min-width: 1224px) {
  .carrusel .w-100 {
    height: 26.3em; } }

@media only screen and (min-width: 1624px) {
  .carrusel {
    height: 75vh;
    margin-bottom: 10rem; }
    .carrusel .w-100 {
      height: 70vh; }
    .carrusel .carrusel-info h3 {
      height: 3vh; }
    .carrusel .carrusel-info p {
      height: 3vh; }
  .carrusel-info {
    text-align: center;
    padding-top: 1em; }
    .carrusel-info .btnSimula {
      border: none;
      background-color: #212227;
      border-radius: 10px;
      width: 10em;
      color: white; } }

.banners {
  width: 100%;
  height: 70vh; }
  .banners img {
    width: 100%;
    height: 50%;
    object-fit: fill; }
  .banners h1 {
    font-size: 2rem;
    font-weight: bold; }
  .banners p {
    font-size: 1.2rem;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem; }
  .banners h1, .banners h3, .banners p {
    margin-top: 1rem;
    text-align: center; }

.plazoFijo {
  width: 90%;
  margin: 0 auto; }
  .plazoFijo .plazoFijo_importe h2, .plazoFijo .plazoFijo_importe p {
    text-align: center; }
  .plazoFijo .plazoFijo_importe label {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    font-size: 1.3em; }
  .plazoFijo .plazoFijo_importe input {
    border: 2px solid #212227;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 1em; }
  .plazoFijo .plazoFijo_importe input:focus, .plazoFijo .plazoFijo_importe textarea:focus {
    outline: none;
    border: 2px solid red;
    background-color: #e8ecdf; }
  .plazoFijo .plazoFijo_vencimiento {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%; }
    .plazoFijo .plazoFijo_vencimiento div {
      display: flex;
      width: 40%;
      height: 4em;
      background-color: #333646;
      margin-bottom: 1em;
      border-radius: 5px; }
      .plazoFijo .plazoFijo_vencimiento div p {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        color: white; }
    .plazoFijo .plazoFijo_vencimiento div:hover {
      background-color: #878E76; }

.plazoFijo_resultado .plazoFijo_resultado_img {
  display: none; }

.plazoFijo_resultato_res_1 p {
  text-align: center; }

.plazoFijo_resultato_res_2 h2 {
  text-align: center; }

.plazoFijoDetalle {
  width: 90%;
  margin-left: 5%; }
  .plazoFijoDetalle .pfResultado p {
    margin: 0;
    text-align: center;
    font-size: 1.3em; }
  .plazoFijoDetalle .pfResultado p:first-child {
    color: #333646; }
  .plazoFijoDetalle .pfResultado .pfResultado p:last-child {
    color: #1a2b7e;
    font-weight: bold; }

.banner .divBanner p {
  text-align: center;
  color: #000; }

.monedas .cotizaciones .dolar_img, .monedas .cotizaciones .euro_img {
  display: none; }

.monedas .cotizaciones .dolar, .monedas .cotizaciones .euro {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 1em 0;
  text-align: center; }

.monedas .cotizaciones .monedaValor .oficial-h1 {
  padding-bottom: 1em; }

.monedas .cotizaciones .monedaValor .dolar-oficial, .monedas .cotizaciones .monedaValor .dolar-blue, .monedas .cotizaciones .monedaValor .euro-oficial, .monedas .cotizaciones .monedaValor .euro-blue {
  display: flex;
  flex-wrap: wrap; }

.monedas .cotizaciones .monedaValor .dolar-oficial h3, .monedas .cotizaciones .monedaValor .dolar-blue h3, .monedas .cotizaciones .monedaValor .euro-oficial h3, .monedas .cotizaciones .monedaValor .euro-blue h3 {
  width: 100%;
  color: #333646; }

.monedas .cotizaciones .monedaValor .tipoDeOperacion {
  width: 50%; }

.monedas .cotizaciones .monedaValor .errorApi {
  display: none; }

.monedas .fecha p {
  text-align: center; }

.emprendedorInfo {
  text-align: center;
  margin-bottom: 1em; }
  .emprendedorInfo .emprendedorInfo_encabezado {
    width: 90%;
    margin: 0 auto; }
    .emprendedorInfo .emprendedorInfo_encabezado h2 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 2rem; }
    .emprendedorInfo .emprendedorInfo_encabezado h5 {
      font-size: 1.4rem;
      margin-bottom: 2rem; }
    .emprendedorInfo .emprendedorInfo_encabezado ul {
      padding: 0; }
    .emprendedorInfo .emprendedorInfo_encabezado ul li {
      text-align: left;
      list-style: none;
      font-size: 1.1rem; }
  .emprendedorInfo .emprendedorInfo_form {
    background-color: #878E76;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-radius: 2%; }
    .emprendedorInfo .emprendedorInfo_form input, .emprendedorInfo .emprendedorInfo_form textarea {
      width: 90%;
      border: none;
      border-radius: 5px; }
    .emprendedorInfo .emprendedorInfo_form input:focus, .emprendedorInfo .emprendedorInfo_form textarea:focus {
      outline: none;
      border: 2px solid red;
      background-color: #e8ecdf; }
  .emprendedorInfo .emprendedorInfo_form:hover, .emprendedorInfo .emprendedorInfo_img img:hover {
    box-shadow: 1px 1px 8px 4px rgba(0, 0, 0, 0.68);
    -webkit-box-shadow: 1px 1px 8px 4px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 1px 1px 8px 4px rgba(0, 0, 0, 0.68); }
  .emprendedorInfo .emprendedorInfo_img img {
    width: 90%;
    border-radius: 2%; }

@media only screen and (min-width: 481px) {
  .banners {
    height: 60vh;
    margin-bottom: 2rem; }
    .banners img {
      height: 70%; }
  .plazoFijo .plazoFijo_importe {
    width: 100%; }
    .plazoFijo .plazoFijo_importe h1, .plazoFijo .plazoFijo_importe p {
      text-align: center; }
    .plazoFijo .plazoFijo_importe label {
      display: flex;
      justify-content: center;
      margin-bottom: 1em;
      font-size: 1.3em; }
    .plazoFijo .plazoFijo_importe input {
      border: 2px solid #212227;
      width: 90%;
      margin-left: 5%;
      margin-bottom: 1em; }
  .emprendedorInfo_img img {
    width: 90%;
    height: 60vh;
    border-radius: 2%; } }

@media only screen and (min-width: 769px) {
  .banners {
    height: 80vh; }
    .banners img {
      height: 70%; }
    .banners h1 {
      font-size: 2.5rem; }
    .banners p {
      font-size: 1.5rem; }
  .plazoFijo_importe h2 {
    text-align: center; }
  .plazoFijo_importe p {
    font-size: 1.2rem; }
  .plazoFijo_importe label {
    font-weight: bold; }
  .plazoFijoDetalle {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .cotizaciones {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .dolar, .euro {
    width: 40%; }
  .emprendedorInfo {
    display: flex;
    flex-wrap: wrap; }
    .emprendedorInfo .emprendedorInfo_encabezado {
      width: 90%; }
    .emprendedorInfo .emprendedorInfo_form, .emprendedorInfo .emprendedorInfo_img {
      width: 45%;
      height: 60vh;
      margin: 0 auto; }
    .emprendedorInfo .emprendedorInfo_img img {
      width: 100%; } }

@media only screen and (min-width: 1024px) {
  .plazoFijo .plazoFijo_importe input {
    width: 50%;
    margin-left: 25%; } }

@media only screen and (min-width: 1624px) {
  .banners {
    height: 70vh; }
    .banners .imgBanner {
      height: 80%;
      object-fit: cover; }
  .plazoFijo .plazoFijo_importe input {
    width: 30%;
    margin-left: 35%; }
  .plazoFijo .plazoFijo_vencimiento {
    justify-content: center;
    align-items: center; }
    .plazoFijo .plazoFijo_vencimiento div {
      width: 10%;
      margin: 3rem; }
  .plazoFijo_resultado_res .plazoFijoDetalle {
    justify-content: center; }
    .plazoFijo_resultado_res .plazoFijoDetalle .pfResultado {
      margin: 3rem; }
  .emprendedorInfo .emprendedorInfo_encabezado {
    width: 70%; }
  .emprendedorInfo .emprendedorInfo_form, .emprendedorInfo .emprendedorInfo_img {
    width: 35%;
    height: 60vh;
    margin: 0 auto; }
    .emprendedorInfo .emprendedorInfo_form input, .emprendedorInfo .emprendedorInfo_form textarea, .emprendedorInfo .emprendedorInfo_img input, .emprendedorInfo .emprendedorInfo_img textarea {
      width: 95%; }
  .emprendedorInfo .emprendedorInfo_img img {
    width: 100%; }
  ::-webkit-scrollbar {
    display: none; } }

.simulador {
  background-color: #878E76;
  margin-bottom: 1em;
  height: 12em; }
  .simulador .simulador__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11em; }
    .simulador .simulador__container .prestamoHipotecario h3, .simulador .simulador__container .prestamoPersonal h3 {
      text-align: center;
      padding-top: 0.5em; }
    .simulador .simulador__container label {
      padding-left: 5px; }
    .simulador .simulador__container .valor {
      width: 10em; }
    .simulador .simulador__container input, .simulador .simulador__container select {
      border: 2px solid #212227;
      border-radius: 5px; }
    .simulador .simulador__container .cuotas {
      padding-top: 5px; }
      .simulador .simulador__container .cuotas select {
        width: 2.7em; }

.resultados {
  background-color: #8D9D90;
  padding-left: 5px;
  margin-bottom: 1em;
  display: none; }
  .resultados .main__resultados {
    width: 90%;
    margin: 0 auto; }
    .resultados .main__resultados .infoResultados {
      padding-top: 1em; }
      .resultados .main__resultados .infoResultados .infoResultados p {
        margin: 0; }
    .resultados .main__resultados .datosDeContacto {
      padding: 1em 0;
      margin: 0 auto;
      margin-left: 5%; }
      .resultados .main__resultados .datosDeContacto .datos_nombre, .resultados .main__resultados .datosDeContacto .datos_email {
        width: 90%;
        margin: 0 auto;
        border-radius: 5px; }
      .resultados .main__resultados .datosDeContacto input:focus {
        outline: none;
        border: 2px solid red;
        background-color: #e8ecdf; }
    .resultados .main__resultados .mensajeContacto {
      display: none; }
      .resultados .main__resultados .mensajeContacto #mensajeContacto-final {
        padding: 1em;
        text-align: center; }

.registros {
  background-color: #ABC4A1;
  display: none;
  margin-bottom: 1em; }
  .registros .mostrarRegistros {
    padding-bottom: 1em; }
  .registros .mostrarRegistros h3 {
    text-align: center;
    padding: 1em 0; }
  .registros .mostrarRegistros ul {
    width: 95%;
    margin: 0 auto;
    padding: 0; }
  .registros .mostrarRegistros ul li {
    border: 2px solid #212227;
    list-style: none;
    padding-left: 5px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 1em; }

.requisitos {
  background-color: #c8d6cb;
  margin-bottom: 1em; }
  .requisitos .requisitosDiv {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 1em; }
  .requisitos .requisitosDiv h3 {
    text-align: center;
    padding-top: 1em; }
  .requisitos .requisitosDiv ul li {
    padding-bottom: 5px; }

@media only screen and (min-width: 769px) {
  .resultados .main__resultados .datosDeContacto {
    width: 50%;
    margin-left: 25%; }
    .resultados .main__resultados .datosDeContacto .datos_nombre, .resultados .main__resultados .datosDeContacto .datos_email {
      width: 100%; }
    .resultados .main__resultados .datosDeContacto button {
      width: 50%; }
  .registros .mostrarRegistros {
    width: 60%;
    margin: 0 auto; } }

body {
  background-color: white;
  font-family: 'Roboto', sans-serif; }

h3, h4 {
  font-weight: bold; }

footer {
  background-color: #212227;
  height: 3em;
  display: flex;
  align-items: center;
  padding-left: 5px; }
  footer .linkFooter {
    text-decoration: none;
    color: white; }

.mensaje, .mensajeDatos {
  display: none;
  padding-left: 5px;
  color: red;
  text-align: center; }

.btnPrestamos, .btnDatos, .emprendedorInfo button {
  border: none;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 5em;
  margin-top: 1em;
  border-radius: 5px;
  background-color: #212227 !important;
  color: white; }

.btnPrestamos:hover, .btnDatos:hover, .btnSimula:hover, .emprendedorInfo button:hover {
  background-color: #333646 !important; }
