* {
    margin: 0 auto;
    box-sizing: border-box;
}
body {
    background-color: #121212;
    color: white;
    font-family: 'Roboto', sans-serif;
}




header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.logo {
    font-size: 2em;
    padding: 10px 0 0 10px;

}
.logo a{
    text-decoration: none;
    color: #E0FF00;
}
.links{ 
    width: 70%;
}
header div nav ul {
    display: flex;
    justify-content: flex-end;
    padding-left: 0;

}
header div nav ul li {
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    margin: 5px;

}
header div nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 0.6em;
}

.main__top {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 90%;
    text-align: center;
    
}
h1{
    color: #E0FF00;
}
h3{
    text-decoration: underline;
    margin-bottom: 10px;
}
.claseDePrestamo {
    text-align: center;
}
.claseDePrestamo input {
    margin-top: 20px;
}

.prestamoPersonal, .prestamoHipotecario, .requisitosPersonales, .requisitosHipotecario {
    display: none;
    border: 2px solid #E0FF00;
    width: 80%;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}
.requisitosPersonales, .requisitosHipotecario {
    background-color: #E0FF00;
    border: 2px solid white;
    color: #121212;
}

.main__resultados {
    background-color: white;
    color: #121212;
    display: none;
    margin-top: 20px;
    width: 80%;
    border: 2px solid #E0FF00;
    margin-bottom: 20px;
}
.main__resultados p {
    padding: 5px;
}
.main__resultados input {
    width: 90%;
    margin-left: 5%;
}
.btnDatos{
    width: 90%;

    background-color: #E0FF00;
    border: none;
    border-radius: 5px;
    height: 20px;
    margin: 5px 5% 10px 5%;
}
.mensaje, .mensajeDatos {
    display:none; 
    color: red;   
}
.mensajeContacto1 {
    position: fixed;
    bottom: 50em;
    left: 5em;
}
.btn{
    background-color: #E0FF00;
    border: none;
    border-radius: 5px;
    width: 90%;
    height: 30px;
    margin: 5px 5% 10px 5%;
}
.registros {
    display: none;
    width: 80%;
    text-align: center;
}
#mostrarConsultas {
    padding: 0
}
#consulta{
    background-color: white;
    border: 2px solid #E0FF00;
    color: black;
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}
footer {
    margin-top: 100px;
}

/* cotización */

.dolar, .euro {
    border: 4px solid #E0FF00;
    background-color: white;
    color: black;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
}
.oficial-h1 {
    width: 100%;
    color: black;
    text-align: center;
    margin-bottom: 1em;
    text-decoration: underline;
}
.oficial-h3, #venta, #ventaB, #compra,#compraB {
    text-align: center;
}


@media only screen and (min-width: 769px) {
    header div nav ul li a {
        font-size: 1.2em;
    }
    .btn {
        width: 30%;
    }
    .prestamoPersonal, .prestamoHipotecario, .main__resultados, .requisitosPersonales, .requisitosHipotecario, .registros {
        width: 45%;
    }
    .main__resultados, .requisitosPersonales, .requisitosHipotecario {
        text-align: left;
    }
    .main__resultados input {
        width: 60%;
    }
    #nombre, #email {
        width: 90%;
    }

/* cotizaciones */

    .cotizaciones {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2em;
    }
    .dolar, .euro {
        width: 40%;
    }


}

@media only screen and (min-width: 1224px) {

    #nombre, #email {
        width: 90%;
        display: block;
    }
    .btnDatos {
        width: 90%;
    }
    
}
